body{
    margin: 0;
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cabecalho{
    border: 5px solid darkblue;
    padding-bottom: 0;
    overflow: hidden;
    background-color: darkblue;
    color: white;
    margin: auto;
}

#cabecalho a{
    text-decoration: none;
    color: white;
}

.credenciais{
    float: right;
    margin: 5px;
    width: 50%;
    padding: 5px;    
}

.logo{
    float: left;
    margin-left: 100px;
    margin-top: 30px;
    text-decoration: none;
    margin-left: 150px;
}

#senha{
    margin-right: 5px;
    color: lightblue;
    text-decoration: none;
}

.mapa{
    float: left;
    border: 1px solid lightblue;
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    padding: 50px;
    margin-left: 150px;
}

.cadastro{
    float: right;
    border: 1px solid lightblue;
    box-sizing: border-box;
    padding: 0px 10px 0px 5px;
    margin: 50px;
    width: 500px;
    margin-right: 150px;
}



#genero{
    display: inline;
}